<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
</head>
<body>
    <h1>Agregar pelicula</h1>
    <form action="{% url 'agregar' %}" method="post">
        {% csrf_token %}
        Titulo: <input type="text" name="titulo" >
        Year: <input type="text" name="year">
        Descripcion: <input type="text" name="descripcion">
        <input type="submit" value="Agregar">
    </form>
    <a href="{% url 'ver_peliculas' %}">Lista peliculas</a>
</body>
</html>