<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Modificar pelicula</h1>
    <form action="{% url 'modificar' id=id %}" method="post">
        {% csrf_token %}
        Titulo: <input type="text" name="titulo" value="{{titulo}}" > <br>
        Year: <input type="text" name="year" value="{{year}}"> <br>
        Descripcion: <input type="text" name="descripcion" value="{{descripcion}}">
        <input type="submit" value="Modificar">
    </form>
    <a href="{% url 'ver_peliculas' %}">Lista peliculas</a>
</body>
</html>